*{
	box-sizing: border-box;
}
body{
	display: flex;
	background-color: #189f85;
	font-family: "Roboto", "Arial", sans-serif;
}
.prev-wrapper{
	display: flex;
	align-items: center;
}
.prev{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	border: 1px solid #222;
	text-decoration: none;
	font-size: 22px;
	background-color: #fff;
	color: #222;
}
.container{
	max-width: 600px;
	min-height: 490px;
	margin: 100px auto 0;
	padding: 0 70px;
	background-color: #fff;
	background-image: url(../img/bicycle/bicycle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 205px;
	box-shadow:
	0 0.7px 8.2px rgba(0, 0, 0, 0.013),
	0 1.8px 17.3px rgba(0, 0, 0, 0.054),
	0 3.7px 27.7px rgba(0, 0, 0, 0.083),
	0 7.7px 40.3px rgba(0, 0, 0, 0.104),
	0 21px 55px rgba(0, 0, 0, 0.12)
	;
	
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 0;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
}
.profile{
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #a5a5a5;
}
.profile:hover{
	box-shadow:
	0 0.2px 2.5px rgba(0, 0, 0, 0.013),
	0 0.6px 5.3px rgba(0, 0, 0, 0.054),
	0 1.2px 8.6px rgba(0, 0, 0, 0.083),
	0 2.6px 10px rgba(0, 0, 0, 0.104),
	0 1px 2px rgba(0, 0, 0, 0.12)
	;
}
.profile-img{
	width: 30px;
	height: 30px;
}
.notification{
	margin: 0;
	color: grey;
	padding-bottom: 20px;
}
.product-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.product-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.product-text{
	margin: 0;
	color: #5c5c5c;
	font-size: 19px;
	font-weight: 500;
}
.product-price{
	margin: 0;
	font-size: 20px;
	font-weight: 700;
}
.next-wrapper{
	display: flex;
	align-items: center;
}
.next{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 1px solid #222;
	border-radius: 20px;
	text-decoration: none;
	font-size: 22px;
	background-color: #fff;
	color: #222;
}

